body {
  background-color: PapayaWhip;
  color: #808080;
  font-family: monospace;
  font-size: 16px;
}

article {
  width: 80ch;
  margin: auto;
}

article > label {
  display: inline-block;
  width: 20ch;
  height: 1.5em;
}

label {
  color: DodgerBlue;
}

p + label {
  margin-top: 3em;
}

a,
a:visited {
  color: LightCoral;
}

a:hover {
  color: DarkRed;
}

a.right-aligned-link,
a.left-aligned-link {
  display: block;
  margin: 2em 0;
  padding: 4px;
  background-color: LightCoral;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

a.right-aligned-link {
  text-align: right;
}

a.left-aligned-link {
  text-align: left;
}

hr {
  margin: 2em 0;
}
